POSTGRES_DB=ledgerflow
POSTGRES_USER=ledgerflow
POSTGRES_PASSWORD=ledgerflow_dev
ConnectionStrings__LedgerFlow=Host=localhost;Port=5432;Database=ledgerflow;Username=ledgerflow;Password=ledgerflow_dev
